@import 'vis-network/styles/vis-network.css';
.graphVisualization {
    height: 500px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: rgb(249, 249, 249);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 2%;
}
